.Header {

    height: 10vh;
    width: 100vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.Header nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}